body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar container */
.a-nav {
  display: flex;
  justify-content: flex-end; /* align items to the right */
  align-items: center;
  background-color: #000035;
  padding: 10px 20px;
  gap: 20px; /* spacing between links */
}

/* Navigation links */
.nav-text {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  transition: 0.3s ease;
  border-radius: 6px;
}

.nav-text:hover {
  transform: scale(1.1);
  background-color: #000053;
}

/* Search bar */
.search-nav {
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 0 15px;
  outline: none;
  font-size: 16px;
}

.sidebar-button {
  cursor: pointer;
  position: fixed;
  background: 	white;
  top: 60px;
  height: 50px;
  width: 50px;
  left: 20px;
}

.sidebar-button-close {
  cursor: pointer;
  position: fixed;
  background: 	white;
  top: 60px;
  height: 50px;
  width: 50px;
  left: 20px;
}

.sidebar {
  position: fixed;
  left: -300px;
  background-color: #0d0d79;
}

.sidebar.active {
  left: 0px;
  top: 124px;
}

.sidebar.close {
  left: -300px;
  top: 0px;
}

.li-text {
  color: white;
}